* {
  font-family: 'Segoe UI Variable Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #1b1b22;
  margin: 0;
  padding: 0;
}

.titlebar {
  background: #24242e;
  height: 2.25rem;
  width: 100vw;
  padding: 0 2.9rem 0 0.9375rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
}

.titlebar span {
  width: 45px;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .1s ease-in-out;
  -webkit-app-region: no-drag;
}

.titlebar span:hover {
  background-color: #ffffff30;
}

.titlebar span svg {
  width: 16px;
  height: 16px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
  height: 100vh;
  padding: 1.25rem;
  padding-top: calc(1.25rem + 35px);
  z-index: -1;
}

.card {
  background: #24242e;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.status p {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: 500;
}

.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.status-dot.connected {
  background: #4caf50;
  box-shadow: 0 0 10px #4caf50;
}

.status-dot.disconnected {
  background: #f44336;
  box-shadow: 0 0 10px #f44336;
}

.info-grid {
  display: grid;
  grid-template-columns: 110px 1fr;
  gap: 10px;
  font-size: 14px;
}

.label {
  color: #bababa;
  font-weight: 600;
}

.value {
  color: #ababab;
  word-break: break-all;
  user-select: text;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.placeholder svg {
  width: 90px;
  height: 90px;
}
